.form {
  max-width: 600px;
  margin: 10px auto;
  padding: 25px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  background: #FAFAFA;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  color: #4A3F35;
  font-family: 'Calibri', sans-serif;
  font-size: 18px;
}

.form p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

input:focus {
  border: 1px solid #0ab8ce;
  box-shadow: 0 0 8px rgba(10, 184, 206, 0.3);
}

.input-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: nowrap;
}

.input-row > .input-group {
  flex: 1 1 48%;
  display: flex;
  flex-direction: column;
}

.input-group select,
.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #4A3F35;
  font-size: 16px;
  font-family: inherit;
  box-sizing: border-box;
  resize: vertical;
}

.input-group {
  min-height: 58px;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background-color: #ffeef4;
  color: #ff347d;
  font-weight: bold;
  font-size: 18px;
  border: 1.5px solid #ff347d;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-family: inherit;
  box-shadow: 0 2px 8px rgba(241, 59, 135, 0.541);
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #f1feff;
  box-shadow: 0 0 12px rgba(25, 118, 210, 0.3);
  border: 1.5px solid #0ab8ce;
  color: #1976D2;
}

.floating-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  transition: opacity 0.3s ease-in-out;
}

.success-message {
  background-color: #4caf50;
  color: white;
}

.error-message {
  background-color: #f44336;
  color: white;
}


.emoji-button-wrapper {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  z-index: 20;              
  pointer-events: auto;     
}

.emoji-button-wrapper .icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 22px;
  color: #0ab8ce;
}

.emoji-picker-popover {
  position: absolute;
  bottom: 55px;
  z-index: 100;
  pointer-events: auto;
}

.text-input-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.text-input-wrapper input {
  width: 100%;
  padding-left: 56px;
  box-sizing: border-box;
  z-index: 1;
}