<div class="create-post-container">
  <form [formGroup]="createPostForm">
    
    <div class="post-preview-box">
      <div class="post-preview" [class.has-media]="imagePreviewUrl">
        
        <button 
          *ngIf="imagePreviewUrl" 
          type="button" 
          class="remove-media-btn"
          (click)="removeMedia()">
          <lucide-icon name="X" [size]="20"></lucide-icon>
        </button>

        <div class="upload-overlay-corner" *ngIf="!imagePreviewUrl">
          <input 
            type="file" 
            id="fileInput"
            (change)="onFileSelected($event)" 
            accept="image/*,video/*"
            style="display: none"/>
          <label for="fileInput" class="upload-btn-corner">
            <lucide-icon name="Plus" [size]="32"></lucide-icon>
          </label>
        </div>

        <ng-container *ngIf="imagePreviewUrl">
          <img
            *ngIf="createPostForm.value.mediaType === 'image'"
            [src]="imagePreviewUrl"
            class="preview-image"/>

          <video
            *ngIf="createPostForm.value.mediaType === 'video'"
            [src]="imagePreviewUrl"
            class="preview-video"
            autoplay
            muted
            loop>
          </video>
        </ng-container>

        <div class="no-media-message" *ngIf="!imagePreviewUrl">
          <p>Upload photo or video</p>
        </div>

      </div>
    </div>
 <div class="emoji-dropdown" *ngIf="showEmojiPicker" #emojiPickerRef>
            <emoji-mart 
              (emojiSelect)="addEmoji($event)"
              [style]="{ width: '100%', maxWidth: '320px' }"
              [showPreview]="false">
            </emoji-mart>
          </div>
    <div 
      *ngIf="showMessage" 
      [ngClass]="{ 'success': isSuccess, 'error': !isSuccess }" 
      class="floating-message">
      {{ messageText }}
    </div>
        <div class="popup-box text-popup">
          <div class="text-with-emoji-inline">
            <input
              formControlName="content"
              #messageInputRef
              type="text"
              placeholder="Type text..." />
            <button 
              type="button" 
              class="emoji-btn-inline"
              #emojiButtonRef
              [class.active]="showEmojiPicker"
              (click)="toggleEmojiPicker($event)">
              <lucide-icon name="smile"></lucide-icon>
            </button>
          </div>

        </div>
          </form>

<button
    (click)="addPost()"
    class="submit-btn"
    [disabled]="!imagePreviewUrl">
    Publish a Post
  </button></div>