<div class="create-post-container">
  <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
    <p>Uploading a post</p>

    <div class="input-row">
      <div class="input-group">
        <label>Media Type:</label>
        <select formControlName="mediaType" (change)="onMediaTypeChange()">
          <option value="image">Image</option>
          <option value="video">Video</option>
        </select>
      </div>

      <div class="input-group">
        <label>Media source:</label>
        <select formControlName="imageSource" (change)="onImageSourceChange()">
          <option value="upload">Upload from computer</option>
          <option value="url">Link</option>
        </select>
      </div>
    </div>

    <div class="input-row single">
      <div class="input-group" *ngIf="createPostForm.value.imageSource === 'upload'">
        <label>Upload a file:</label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*,video/*" />
      </div>

      <div class="input-group" *ngIf="createPostForm.value.imageSource === 'url'">
        <label>Link to image or video:</label>
        <input type="text" formControlName="imageUrl" placeholder="Insert link" />
      </div>
    </div>

    <div class="input-row single">
      <div class="input-group">
        <label>Text:</label>
        <textarea formControlName="customText" rows="4"></textarea> 
      </div>
    </div>

    <button type="submit" class="submit-btn">Publish a post</button>
    
    <div *ngIf="showMessage" 
      [ngClass]="{'success': isSuccess, 'error': !isSuccess}" 
      class="floating-message">
      {{ messageText }}
    </div>
  </form>

  <div class="preview-container">
    <div class="post-preview">
      <ng-container *ngIf="imagePreviewUrl">
        <img *ngIf="createPostForm.value.mediaType === 'image'" 
             [src]="imagePreviewUrl" 
             class="preview-image" />
        <video *ngIf="createPostForm.value.mediaType === 'video'" 
               [src]="imagePreviewUrl" 
               class="preview-video" 
               controls>
        </video>
      </ng-container>

      <div class="post-text" *ngIf="createPostForm.value.customText">
        {{ createPostForm.value.customText }}
      </div>
    </div>
  </div>
</div>
