<div class="messages-page">
  <div class="messages-header">
    <h2>Messages</h2>
  </div>

  <div class="search-container">
    <input type="text" placeholder="Search for users" (input)="onSearch($event)" />
    <button class="search-icon">
      <lucide-icon class="material-icons" name="search"></lucide-icon>
    </button>
  </div>

  <div class="messages-list">
    <div *ngIf="filteredChats.length === 0" class="no-results">
      You don't have any messages with '{{searchTerm}}' yet
    </div>

    <div
      class="message-item"
      *ngFor="let chat of filteredChats"
      (click)="navigateToChat(chat.userId)">

      <div class="profile-wrapper"> 
      <div class="unread-bubble" *ngIf="chat.unreadCount && chat.unreadCount > 0"></div>
      <img class="profile-pic" [src]="chat.profilePic" alt="image" />
      </div>

   <div class="message-info">
  <span class="username">{{ chat.username }}</span>
  
  <div class="last-message-wrapper">
    <span class="last-message">
      <span *ngIf="chat.isSentByCurrentUser" class="under">You:</span>
      {{ chat.lastMessage?.content || 'No messages yet' }}
    </span>

    <div class="status-checks" *ngIf="chat.isSentByCurrentUser && chat.lastMessage">
      <ng-container *ngIf="!chat.lastMessage.isDelivered && !chat.lastMessage.isRead">
        <svg class="check-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="12"
        viewBox="0 0 22 12"
        fill="none"
        stroke="#7a7a7a"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round">
          <polyline points="1 7 4 11 13 1" />
        </svg>
      </ng-container>

      <ng-container *ngIf="chat.lastMessage.isDelivered && !chat.lastMessage.isRead">
        <svg class="check-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="12"
        viewBox="0 0 22 12"
        fill="none"
        stroke="#7a7a7a"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round">
          <polyline points="1 7 4 11 13 1" />
          <polyline points="7 7 10 11 19 1" />
        </svg>
      </ng-container>

      <ng-container *ngIf="chat.lastMessage.isRead">
        <svg class="check-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="12"
        viewBox="0 0 22 12"
        fill="none"
        stroke="#34B7F1"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round">
          <polyline points="1 7 4 11 13 1" />
          <polyline points="7 7 10 11 19 1" />
        </svg>
      </ng-container>
    </div>
  </div>
</div>
    </div>
  </div>
</div>