<div class="profile-container">
  <div class="profile-header">
    <div class="profile-image-name">
      <div class="profile-image">
  <img 
    [src]="profileUser.profilePicUrl" 
    (click)="openStatus()"
  />

  <button class="view-profile-pic-btn" (click)="openProfileImage(profileUser!.profilePicUrl!)">
    🔍
  </button>
</div>
    </div>

    <div class="profile-info">
      <div class="profile-stats">
        <div class="stat">
          <div class="stat-number">{{MediaFilesCount}}</div>
          <div class="stat-label">Posts</div>
        </div>
        <div class="stat" (click)="goToFollowers(profileUser.userId)">
          <div class="stat-number">{{FollowersCount}}</div>
          <div class="stat-label">Followers</div>
        </div>
        <div class="stat" (click)="goToFollowings(profileUser.userId)">
          <div class="stat-number">{{FollowingCount}}</div>
          <div class="stat-label">Following</div>
        </div>
      </div>
    
      <div class="follow-btn-container">
        <button class="follow-btn" (click)="toggleFollow()">
{{ isFollowing ? 'Unfollow' : 'Follow' }}
        </button>
      </div>
    </div>
    
  </div>
      <div class="profile-bio">
        <strong>{{profileUser.firstName}} {{profileUser.lastName}}</strong>
        <p>{{profileUser.userName}}</p>
        <p>{{profileUser.bio}}</p>
      </div>

  <div class="stories">
  <div class="story" *ngFor="let s of storys">
    <div class="circle">
      <a (click)="openStory(s.id)">
        <img [src]="s.imageUrl" alt="story" *ngIf="s.imageUrl"/>
      </a>
    </div>
    <p class="nameStory">{{ s.content }}</p>
  </div>
</div>


  <!-- טאבים -->
  <div class="profile-tabs">
    <button [class.active]="selectedTab === 'images'" (click)="selectedTab = 'images'">תמונות</button>
    <button [class.active]="selectedTab === 'videos'" (click)="selectedTab = 'videos'">וידאו</button>
  </div>
<div class="no-posts-message" *ngIf="selectedTab === 'images' && imagePosts.length === 0">
  <p>אין פוסטים של תמונות להצגה.</p>
</div>

<div class="no-posts-message" *ngIf="selectedTab === 'videos' && videoPosts.length === 0">
  <p>אין פוסטים של וידאו להצגה.</p>
</div>

<!-- תמונות -->
<div class="profile-posts" *ngIf="selectedTab === 'images'">
  <div class="post" *ngFor="let post of imagePosts">
    <ng-container *ngFor="let media of post.mediaFiles">
      <a><img *ngIf="media.mediaType === 'image'" [src]="media.url" (click)="goToPostPage(post.id)" /></a>
    </ng-container>
  </div>
</div>

<!-- וידאו -->
<div class="profile-posts" *ngIf="selectedTab === 'videos'">
  <div class="post" *ngFor="let post of videoPosts">
    <ng-container *ngFor="let media of post.mediaFiles">
      <video *ngIf="media.mediaType === 'video'" controls [src]="media.url" (click)="goToPostPage(post)"></video>
    </ng-container>
  </div>
</div>

</div>
