<div class="profile-container">
  <div class="profile-header">
    <div class="profile-image-name">
      <div class="profile-image">
        <img [src]="profileUser.profilePicUrl" (click)="openProfileStory()" alt="view-story"/>
        <button class="view-profile-pic-btn" (click)="openProfileImage(profileUser!.profilePicUrl!)">
          <lucide-icon name="ZoomIn" (click)="openProfileImage()"></lucide-icon>
        </button>
      </div>
    </div>

    <div class="profile-info">
      <div class="profile-stats">
        <div class="stat">
          <div class="stat-number">{{MediaFilesCount}}</div>
          <div class="stat-label">Posts</div>
        </div>
        <div class="stat" (click)="goToFollowers(profileUser.userId)">
          <div class="stat-number">{{FollowersCount}}</div>
          <div class="stat-label">Followers</div>
        </div>
        <div class="stat" (click)="goToFollowings(profileUser.userId)">
          <div class="stat-number">{{FollowingCount}}</div>
          <div class="stat-label">Following</div>
        </div>
      </div>

      <div class="follow-btn-container">
        <button class="follow-btn" (click)="toggleFollow()">
          {{ isFollowing ? 'Unfollow' : 'Follow' }}
        </button>
        <button class="follow-btn" (click)="openChat()">
          Message
        </button>
      </div>
    </div>
  </div>

  <div class="profile-bio">
    <strong>{{profileUser.firstName}} {{profileUser.lastName}}</strong>
    <p>{{profileUser.userName}}</p>
    <p>{{profileUser.bio}}</p>
  </div>

  <div class="stories">
    <div class="story" *ngFor="let s of highlights">
      <div class="circle">
        <a (click)="openStory(s.id)">
          <img [src]="s.imageUrl" alt="story" *ngIf="s.imageUrl"/>
        </a>
      </div>
    </div>
  </div>

  <div class="profile-tabs">
    <button [class.active]="selectedTab === 'images'" (click)="selectedTab = 'images'">Pictures</button>
    <button [class.active]="selectedTab === 'videos'" (click)="selectedTab = 'videos'">Video</button>
  </div>

  <div class="no-posts-message" *ngIf="selectedTab === 'images' && imagePosts.length === 0">
    <p>There are no photo posts to display.</p>
  </div>

  <div class="no-posts-message" *ngIf="selectedTab === 'videos' && videoPosts.length === 0">
    <p>There are no video posts to display.</p>
  </div>

  <div class="profile-posts" *ngIf="selectedTab === 'images'">
    <div class="post" *ngFor="let post of imagePosts">
      <ng-container *ngFor="let media of post.mediaFiles">
        <a>
          <img *ngIf="media.mediaType === 'image'" [src]="media.url" (click)="goToPostPage(post.id)" />
        </a>
      </ng-container>
    </div>
  </div>

  <div class="profile-posts" *ngIf="selectedTab === 'videos'">
    <div class="post" *ngFor="let post of videoPosts">
      <ng-container *ngFor="let media of post.mediaFiles">
        <video *ngIf="media.mediaType === 'video'" controls [src]="media.url" (click)="goToPostPage(post)"></video>
      </ng-container>
    </div>
  </div>
</div>

<div *ngIf="selectedImageUrl" class="image-modal" (click)="closeImageView()">
  <div class="image-container" (click)="$event.stopPropagation()">
    <lucide-icon name="X" class="close-btn" (click)="closeImageView()"></lucide-icon>
    <img [src]="selectedImageUrl" alt="Profile Image" />
  </div>
</div>