body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.app-shell {
  width: 100%;
  max-width:520px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin: auto;
}

.top-bar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.40rem 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-img {
  width: 1.5rem;
  height: auto;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  background: linear-gradient(90deg, #0ab8ce, #1976D2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.logo:hover {
  background: linear-gradient(90deg, #1976D2, #0ab8ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icons {
  display: flex;
  gap: 1rem;
}

.icons lucide-icon {
  font-size: 1.4rem;
  cursor: pointer;
  color: #3c3f2d;
}

.feed {
  flex: 1;
  width: 100%;
  background-color: #f5f6f8;
}

.bottom-nav {
  position: sticky;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.40rem 1rem;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

.bottom-nav lucide-icon {
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  color: #3c3f2d;
}

.bottom-nav lucide-icon.active {
  color: #ff347d;
}