body {
  font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    height: 100%;
}

.context{
  width: 650px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  direction: ltr;
  border: 1px solid #ddd;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.feed {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  min-height: 100vh;
}
  
.top-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  min-height: 50px;
  border-bottom: 1px solid #ddd;
  background-color: white ;
}
  
.logo {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(90deg, #0ab8ce, #1976D2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.logo:hover {
  background: linear-gradient(90deg, #1976D2, #0ab8ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
  
.icons lucide-icon {
  cursor: pointer;
  font-size: 22px;
  color: #3c3f2d;
}
  
.bottom-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  position: sticky;
  bottom: 0;
  margin-bottom: 0px;
  color: #3c3f2d;
}
  
.bottom-nav span {
  font-size: 24px;
  cursor: pointer;
}

.bottom-nav lucide-icon {
  cursor: pointer;
  transition: all 0.3s ease;
}

.bottom-nav lucide-icon.active {
  color: #ff347d;
}

.bottom-nav lucide-icon:hover {
  color: #0ab8ce;
  transform: scale(1.08);
}

.icons lucide-icon {
  cursor: pointer;
}
  
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.logo-img {
  width: 30px;
  height: 25px;
}