<div @fadeIn>
    <div *ngIf="userService.currentUser">
        <div class="profile-header">
            <div class="profile-image" style="position: relative;">
                <img [src]="user.profilePicUrl" alt="Profile Image" (click)="openProfileStory()" />
                <button 
                    class="add-status-btn"
                    *ngIf="userService.currentUser?.userId === user.userId"
                    (click)="goToCreateStory()"
                    title="Add story">
                    <lucide-icon name="plus" size="18" class="icon"></lucide-icon>
                </button>
            </div>

            <div class="profile-stats">
                <div class="stat">
                    <div class="stat-number">{{MediaFilesCount}}</div>
                    <div class="stat-label">Posts</div>
                </div>
                <div class="stat" (click)="goToFollowers(user.userId)">
                    <div class="stat-number">{{FollowersCount}}</div>
                    <div class="stat-label">Followers</div>
                </div>
                <div class="stat" (click)="goToFollowings(user.userId)">
                    <div class="stat-number">{{FollowingCount}}</div>
                    <div class="stat-label">Following</div>
                </div>
            </div>

            <div class="profile-info" *ngIf="!isEditing">
                <div class="profile-username-wrapper">
                    <h2 class="centered-name">
                        {{ user?.firstName }} {{ user?.lastName }}
                        <button class="edit-icon-btn" (click)="editUser()">
                            <lucide-icon name="Pencil" size="20"></lucide-icon>
                        </button>
                    </h2>
                    <p class="bio-text">{{ user?.bio }}</p>
                </div>
            </div>
        </div>

        <div class="profile-tabs">
            <button [class.active]="selectedTab === 'images'" (click)="selectedTab = 'images'">Pictures</button>
            <button [class.active]="selectedTab === 'videos'" (click)="selectedTab = 'videos'">Video</button>
        </div>

        <div class="no-posts-message" *ngIf="selectedTab === 'images' && imagePosts.length === 0">
            <p>There are no photo posts to display.</p>
        </div>
        <div class="no-posts-message" *ngIf="selectedTab === 'videos' && videoPosts.length === 0">
            <p>There are no video posts to display.</p>
        </div>

        <div class="profile-posts" *ngIf="selectedTab === 'videos'">
            <div class="post" *ngFor="let post of videoPosts" [@postAnimation]>
                <div class="post-wrapper" *ngFor="let media of post.mediaFiles">
                    <video 
                        *ngIf="media.mediaType === 'video'" 
                        controls 
                        [src]="media.url" 
                        (click)="goToPostPage(post)">
                    </video>
                    <lucide-icon 
                        size="15" 
                        class="delete-post-btn"
                        *ngIf="userService.currentUser?.userId === post.userId"
                        (click)="confirmDeletePost(post)" 
                        name="Trash2">
                    </lucide-icon>
                </div>
            </div>
        </div>

        <div class="profile-posts" *ngIf="selectedTab === 'images'">
            <div class="post" *ngFor="let post of imagePosts" [@postAnimation]>
                <div class="post-wrapper" *ngFor="let media of post.mediaFiles">
                    <img 
                        *ngIf="media.mediaType === 'image'" 
                        [src]="media.url" 
                        (click)="goToPostPage(post.id)" />
                    <lucide-icon 
                        size="15" 
                        class="delete-post-btn"
                        *ngIf="userService.currentUser?.userId === post.userId"
                        (click)="confirmDeletePost(post)" 
                        name="Trash2">
                    </lucide-icon>
                </div>
            </div>
        </div>

        <div *ngIf="showDeleteModal" class="delete-modal">
            <p>Are you sure you want to delete this post?</p>
            <div class="modal-buttons">
                <button (click)="cancelDelete()">Cancel</button>
                <button (click)="performDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>
