<div *ngIf="userService.currentUser">
  <div class="profile-header">
    <div class="profile-image" style="position: relative;">
  <img [src]="user.profilePicUrl" alt="Profile Image"/>

  <button 
    class="add-status-btn"
    *ngIf="userService.currentUser?.userId === user.userId"
    (click)="goToCreateStatus()"
    title="הוסף סטטוס">
    +
  </button>
</div>


    <div class="profile-stats">
      <div class="stat">
        <div class="stat-number">{{MediaFilesCount}}</div>
        <div class="stat-label">Posts</div>
      </div>
      <div class="stat" (click)="goToFollowers(user.userId)">
        <div class="stat-number">{{FollowersCount}}</div>
        <div class="stat-label">Followers</div>
      </div>
      <div class="stat" (click)="goToFollowings(user.userId)">
        <div class="stat-number">{{FollowingCount}}</div>
        <div class="stat-label">Following</div>
      </div>
    </div>

    <div class="profile-info">

      <!-- מצב תצוגה -->
      <ng-container *ngIf="!isEditing">
  <div class="profile-username-wrapper">
    <h2 class="centered-name">
      {{ user?.firstName }} {{ user?.lastName }}
      <button class="edit-icon-btn" (click)="editUser()">
        <lucide-icon name="Pencil" size="20"></lucide-icon>
      </button>
    </h2>
    <p class="bio-text">{{ user?.bio }}</p>
  </div>
</ng-container>
    </div>
  </div>

  <div class="stories">
    <div class="story" *ngFor="let t of titles">
      <a (click)="GoToUser()">
        <div class="circle">
          <img [src]="t.image" alt="story" />
        </div>
      </a>
      <p class="nameStory">{{ t.title }}</p>
    </div>
  </div>

  <!-- טאבים -->
  <div class="profile-tabs">
    <button [class.active]="selectedTab === 'images'" (click)="selectedTab = 'images'">תמונות</button>
    <button [class.active]="selectedTab === 'videos'" (click)="selectedTab = 'videos'">וידאו</button>
  </div>

  <!-- הודעות אם אין פוסטים -->
  <div class="no-posts-message" *ngIf="selectedTab === 'images' && imagePosts.length === 0">
    <p>אין פוסטים של תמונות להצגה.</p>
  </div>

  <div class="no-posts-message" *ngIf="selectedTab === 'videos' && videoPosts.length === 0">
    <p>אין פוסטים של וידאו להצגה.</p>
  </div>

  <!-- תמונות -->
  <div class="profile-posts" *ngIf="selectedTab === 'images'">
    <div class="post" *ngFor="let post of imagePosts">
      <ng-container *ngFor="let media of post.mediaFiles">
        <a>
          <img *ngIf="media.mediaType === 'image'" [src]="media.url" (click)="goToPostPage(post.id)" />
        </a>
      </ng-container>
    </div>
  </div>

  <!-- סרטונים -->
  <div class="profile-posts" *ngIf="selectedTab === 'videos'">
    <div class="post" *ngFor="let post of videoPosts">
      <ng-container *ngFor="let media of post.mediaFiles">
        <video *ngIf="media.mediaType === 'video'" controls [src]="media.url" (click)="goToPostPage(post)"></video>
      </ng-container>
    </div>
  </div>
</div>
