.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0;
}

.profile-image {
   width: 148px;
  height: 148px;
  object-fit: cover;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  box-shadow: 0 0 5px rgba(85, 21, 21, 0.1);
  position: relative;
  cursor: pointer;
  background: linear-gradient(90deg, #0ab8ce, #1976D2);
  box-shadow: 0 0 20px rgba(10, 184, 206, 0.5);
}

.profile-image img {
 width: 145px;
  height: 145px;
  object-fit: cover;
  border-radius: 100%;
  border: 3px solid white;
}

.image-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  z-index: 10000;
  height: 350vh;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  margin: auto;
}

.profile-info {
  margin: auto;
  display: inline;
}

.profile-username-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.centered-name {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.edit-icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.bio-text {
  font-size: 14px;
  margin-top: 6px;
}

.profile-stats {
  display: flex;
  gap: 40px;
  margin: 15px 0;
  text-align: center;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.stat-number {
  font-weight: bold;
  font-size: 20px;
}

.stat-label {
  font-size: 20px;
}

.profile-posts {
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
}

.profile-posts .post {
  width: 33%;
  height: 250px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.profile-posts .post img,
.profile-posts .post video {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.profile-tabs {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.profile-tabs button {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #555;
}

.profile-tabs button.active {
  border-bottom: 3px solid #000;
} 


video {
  background-color: #fff;
  border: 1px solid #ddd;
  object-fit: cover;
  display: block;
}

.follow-btn-container {
  text-align: center;
  margin-top: 40px;
}

.follow-btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #3c3f2d;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 70%;
}

.follow-btn:hover {
  background-color: #3c3f2d;
}

a {
  cursor: pointer;
}

.no-posts-message {
  text-align: center;
  color: #999;
  font-size: 18px;
  margin-top: 40px;
}

.add-status-btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: #ff347d;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-status-btn .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.post-wrapper {
  position: relative;
}

lucide-icon.delete-post-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

lucide-icon.delete-post-btn:hover {
  transform: scale(1.1);
}

.delete-modal {
  position: fixed; 
  top: 40%;       
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  z-index: 10000;
}

.modal-buttons button {
  margin: 0 10px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.modal-buttons button:first-child {
  background-color: #ccc;
  color: #333;
}

.modal-buttons button:last-child {
  background-color: #ff347d;
  color: #fff;
}

.modal-buttons button:last-child:hover {
  background-color: #e6005c;
}