<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
  <p>התחברות באמצעות קוד משתמש</p>

  <input type="text" id="codeUser" formControlName="codeUser" placeholder="הכנס קוד משתמש" />

  <div class="error" *ngIf="codeUser?.touched && codeUser?.invalid">
    <div *ngIf="codeUser?.errors?.['required']">שדה קוד משתמש חובה</div>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">התחבר</button>
</form>

<div class="signup">
  <p>אין לך חשבון עדיין?</p>
  <a (click)="navigate('/signup')">הרשם</a>
</div>
