<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
  <p>Login using a user code</p>

  <input
    type="text"
    id="codeUser"
    formControlName="codeUser"
    placeholder="Enter user code"/>

  <div class="error" *ngIf="codeUser?.touched && codeUser?.invalid">
    <div *ngIf="codeUser?.errors?.['required']">User code field required</div>
  </div>

  <div
    *ngIf="showMessage"
    [ngClass]="{ success: isSuccess, error: !isSuccess }"
    class="floating-message">
    {{ messageText }}
  </div>

  <button
    type="submit"
    class="submit-btn"
    [disabled]="loginForm.invalid">
    Log in
  </button>
</form>

<div class="signup">
  <p>Don't have an account yet?</p>
  <a (click)="navigate('/signup')">Sign Up</a>
</div>