<div class="create-story-container">
  <form [formGroup]="createStoryForm" (ngSubmit)="onSubmit()">
    <p>Uploading a story</p>

    <div class="input-row">
      <div class="input-group">
        <label>Media Type:</label>
        <select formControlName="mediaType" (change)="onMediaTypeChange()">
          <option value="image">Image</option>
          <option value="video">Video</option>
        </select>
      </div>

      <div class="input-group">
        <label>Media source:</label>
        <select formControlName="imageSource" (change)="onImageSourceChange()">
          <option value="upload">Upload from computer</option>
          <option value="url">Link</option>
        </select>
      </div>
    </div>

    <div class="input-row">
      <div class="input-group" *ngIf="createStoryForm.value.imageSource === 'upload'">
        <label>Upload a file:</label>
        <input 
          type="file" 
          (change)="onFileSelected($event)" 
          accept="image/*,video/*"/>
      </div>

      <div class="input-group" *ngIf="createStoryForm.value.imageSource === 'url'">
        <label>Link to image or video:</label>
        <input 
          type="text" 
          formControlName="imageUrl" 
          placeholder="Insert link"/>
      </div>

      <div class="input-group">
        <label>Story activity duration (in hours):</label>
        <input
          type="number"
          formControlName="durationHours"
          min="1"
          max="24"
          placeholder="24 hours default"/>
      </div>
    </div>

    <div class="input-row single">
      <div class="input-group">
        <label>Text:</label>
        <input type="text" formControlName="customText"/>
      </div>
    </div>

    <div class="input-row">
      <div class="input-group">
        <label>Text color:</label>
        <input type="color" formControlName="textColor"/>
      </div>

      <div class="input-group">
        <label>Text size:</label>
        <input
          type="range"
          min="12"
          max="60"
          [(ngModel)]="textSize"
          [ngModelOptions]="{ standalone: true }"
          name="textSize"/>
      </div>
    </div>

    <button type="submit" class="submit-btn">Publish a story</button>

    <div 
      *ngIf="showMessage" 
      [ngClass]="{ 'success': isSuccess, 'error': !isSuccess }" 
      class="floating-message">
      {{ messageText }}
    </div>
  </form>

  <div class="preview-container">
    <div class="story-preview">

      <ng-container *ngIf="imagePreviewUrl">
        <img
          *ngIf="createStoryForm.value.mediaType === 'image'"
          [src]="imagePreviewUrl"
          class="preview-image"/>

        <video
          *ngIf="createStoryForm.value.mediaType === 'video'"
          [src]="imagePreviewUrl"
          class="preview-video"
          controls>
        </video>
      </ng-container>
      <div
       class="draggable-text"
       cdkDrag
       cdkDragBoundary=".story-preview"
       [cdkDragFreeDragPosition]="dragPosition"
       [ngStyle]="{
       color: createStoryForm.value.textColor,
       'font-size.px': textSize}"
       (cdkDragEnded)="onDragEnded($event)">
      {{ createStoryForm.value.customText }}
      </div>
    </div>
  </div>
</div>
