.chat-page {
  display: flex;
  flex-direction: column;
  height: 85vh;
  background-color: #FAFAFA;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px groove #E0E0E0;
  position: sticky;
  top: 50px;
  background-color: #FFFFFF;
  z-index: 10;
  margin-top: 3px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #fff;
  object-fit: cover;
  transform: scale(1.05);
  box-shadow: 0 2px 8px rgba(238, 13, 107, 0.808);
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.profile-pic:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
  cursor: pointer;
}

.username {
  font-weight: bold;
  font-size: 16px;
  color: #252734;
  flex-grow: 1;
}

.chat-messages {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #FAFAFA;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.message-bubble {
  max-width: 75%;
  border-radius: 8px;
  word-wrap: break-word;
  line-height: 1.4;
  padding: 8px;
  color: #424242;
  text-align: left;
  position: relative;
}

.sent {
  align-self: flex-end;
  background-color: #E0F7FA ;
  padding-right: 4px; 
}

.received {
  align-self: flex-start;
  background-color: #ffffff;
  border: 1px solid #E0E0E0;
  border-bottom-left-radius: 8px;
}

.message-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 6px;
}

.message-content img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 8px;
  border: 1px solid #E3F2FD;
}

.message-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  margin-bottom: 4px;
  line-height: 1;
  position: relative;
}

.timestamp {
  font-size: 9px;
  color: #9E9E9E;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.status-checks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
  transform: translateY(0.5px);
}

.check-icon {
  width: 20px;
  height: 9px;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  margin-right: 0;
}

.day-separator {
  text-align: center;
  margin: 10px auto;
  padding: 5px;
  background-color: #F5F5F5;
  border-radius: 10px;
  font-size: 0.7rem;
  color: #9E9E9E;
  width: 30%;
}

.chat-input {
  padding: 10px;
  background-color: #FFFFFF;
  position: sticky;
  bottom: 60px;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 8px 16px;
  border: 1.5px solid #E0E0E0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
  flex: 1;
  border: 1px solid #0ab8ce;
}

.message-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: transparent;
  color: #424242;
}

.message-input::placeholder {
  color: #BDBDBD;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 22px;
  color: #ff347d;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.icon-btn:hover {
  color: #0ab8ce;
  transform: scale(1.1);
}

.send-btn {
  border: none;
}

.emoji-picker-popover {
  position: absolute;
  bottom: 40px;
  right: 0;
  z-index: 1000;
}

.download-link {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  color: #757575;
  text-decoration: none;
  font-size: 12px;
}

.file-preview {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.preview-wrapper {
  position: relative;
  display: inline-block;
}

.preview-wrapper img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 12px;
  border: 1.5px solid #E0E0E0;
}

.remove-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #616161;
}

a {
  cursor: pointer;
  color: #757575;
  text-decoration: none;
}

.send-btn {
  border: none;
}

.pdf-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 8px;
}

.pdf-preview span {
  font-size: 12px;
  color: #666;
}

.pdf-message {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 8px;
  margin: 5px 0;
}

.pdf-name {
  font-size: 14px;
  color: #666;
}