<div class="chat-page">
  <div class="chat-header">
    <a (click)="GoToUser()">
      <img class="profile-pic" [src]="targetUser?.profilePicUrl" />
      <span class="username">{{ targetUser?.firstName }} {{ targetUser?.lastName }}</span>
    </a>
  </div>

  <div class="chat-messages" (scroll)="onUserScroll($event)">
      <div *ngIf="this.messages.length==0" class="day-separator">
          No messages yet 
      </div>
    <ng-container *ngFor="let message of messages; let i = index">
      <div *ngIf="isNewDay(i)" class="day-separator">
        {{ formatDay(message.sentAt) }}
      </div>

      <div
        [ngClass]="{
          'sent': message.senderId === currentUserId,
          'received': message.senderId !== currentUserId
        }"
        class="message-bubble">

        <div class="message-content">
          <div *ngIf="message.content">{{ message.content }}</div>

          <img
            *ngIf="message.imageUrl && message.fileType === 'image'"
            [src]="message.imageUrl"
            class="sent-image"
            alt="Picture in message"/>

          <div *ngIf="message.imageUrl && message.fileType === 'pdf'" class="pdf-message">
            <lucide-icon name="file-text" [size]="32"></lucide-icon>
            <span class="pdf-name">PDF File</span>
          </div>

         <a 
            *ngIf="message.imageUrl"
            [href]="message.imageUrl"
            target="_blank"
            class="download-link">

            <lucide-icon name="download" [size]="15"></lucide-icon>
          </a>
        </div>

        <div class="message-footer">
          <div class="timestamp">
            {{ message.sentAt | date: 'shortTime' }}
          </div>

          <div *ngIf="message.senderId === currentUserId" class="status-checks">

            <!-- One gray V — sent but not delivered -->  
            <ng-container *ngIf="!message.isDelivered && !message.isRead">
              <svg
                class="check-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="12"
                viewBox="0 0 22 12"
                fill="none"
                stroke="#7a7a7a"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round">
                <polyline points="1 7 4 11 13 1" />
              </svg>
            </ng-container>

            <!-- Two Grey Seas — Delivered but not read -->
             <ng-container *ngIf="message.isDelivered && !message.isRead">
              <svg
                class="check-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="12"
                viewBox="0 0 22 12"
                fill="none"
                stroke="#7a7a7a"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round">
                <polyline points="1 7 4 11 13 1" />
                <polyline points="7 7 10 11 19 1" />
              </svg>
            </ng-container>

            <!-- Two Blue Days - Reading -->
            <ng-container *ngIf="message.isRead">
              <svg
                class="check-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="12"
                viewBox="0 0 22 12"
                fill="none"
                stroke="#34B7F1"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round">
                <polyline points="1 7 4 11 13 1" />
                <polyline points="7 7 10 11 19 1" />
              </svg>
            </ng-container>

          </div>
        </div>
      </div>
    </ng-container>
  </div>

 <div class="chat-input">

  <div class="emoji-button-wrapper" style="position: relative;">
    <button class="icon-btn" (click)="toggleEmojiPicker()" aria-label="emoji">
      <lucide-icon name="smile"></lucide-icon>
    </button>
    
    <div *ngIf="showEmojiPicker" class="emoji-picker-popover" #emojiPickerRef>
      <emoji-mart (emojiSelect)="addEmoji($event)"[showPreview]="false"></emoji-mart>
    </div>
  </div>

  <button class="icon-btn" (click)="fileInput.click()" aria-label="Attach a file">
    <lucide-icon name="paperclip"></lucide-icon>
  </button>
  <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*,.pdf" hidden />

  <div class="input-wrapper">
    <input
      #messageInputRef
      type="text"
      class="message-input"
      placeholder="Type a message..."
      [(ngModel)]="newMessage"
      (keydown)="handleKeyDown($event)"/>
  </div>

  <button class="icon-btn" (click)="sendMessage()" 
          [disabled]="!newMessage.trim() && !selectedFile"
          aria-label="Send a message">
    <lucide-icon name="send"></lucide-icon>
  </button>

  <div *ngIf="selectedFile" class="file-preview">
    <div class="preview-wrapper">
      
      <img *ngIf="selectedFileType === 'image'" 
           [src]="selectedFilePreview" 
           alt="Preview"/>
      
      <div *ngIf="selectedFileType === 'pdf'" class="pdf-preview">
        <lucide-icon name="file-text" [size]="48"></lucide-icon>
        <span>{{ selectedFile.name }}</span>
      </div>
      
      <button class="remove-btn" (click)="removeSelectedFile()" aria-label="Remove file">
        <lucide-icon name="x" [size]="16"></lucide-icon>
      </button>
    </div>
  </div>
</div>
</div>