.form {
  max-width: 600px;
  margin: 10px auto;
  padding: 25px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  background-color: #FAFAFA;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  color: #4A3F35;
  font-family: 'Calibri', sans-serif;
  font-size: 18px;
}

.form p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: nowrap;
}
 input:focus {
  border: 1px solid #0ab8ce;
  box-shadow: 0 0 8px rgba(10, 184, 206, 0.3);
}
.input-row > .input-group {
  flex: 1 1 48%;
  display: flex;
  flex-direction: column;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #4A3F35;
  font-size: 16px;
  font-family: inherit;
  box-sizing: border-box;
  resize: vertical;
}

.input-group textarea {
  min-height: 80px;
}

.input-group textarea:focus {
  border: 1px solid #0ab8ce;
  box-shadow: 0 0 8px rgba(10, 184, 206, 0.3);
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background-color: #E0F7FA;
  color: #1565C0;
  font-weight: bold;
  font-size: 18px;
  border: 1.5px solid #999797;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-family: inherit;
  box-shadow: 0 0 12px rgba(25, 118, 210, 0.3);
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #ffffff;
  box-shadow: 0 0 12px rgba(25, 118, 210, 0.3);
}

.error {
  font-size: 13px;
  color: red;
  margin-top: 4px;
}

.floating-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  transition: opacity 0.3s ease-in-out;
}

.success-message {
  background-color: #4caf50;
  color: white;
}

.error-message {
  background-color: #f44336;
  color: white;
}

.bio-group {
  position: relative;
}

.bio-input-wrapper {
  position: relative;
  display: block;
}

.bio-input-wrapper textarea {
  width: 100%;
  resize: vertical;
  padding-right: 45px;
  box-sizing: border-box;
}

.emoji-btn-inside {
  position: absolute;
  bottom: 30px;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  font-size: 20px;
  color: #0ab8ce;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  z-index: 1;
}

.emoji-btn-inside:hover {
  color: #1565C0;
  transform: scale(1.1);
}

.emoji-btn-inside lucide-icon {
  stroke: #0ab8ce;
}

.emoji-picker-popover {
  position: absolute;
  bottom: 45px;
  right: 0;
  z-index: 1000;
}

.emoji-btn lucide-icon {
  stroke: #0ab8ce;
}