<div class="search-container">
  <input 
    type="text" 
    placeholder="Search for users" 
    (input)="onSearch($event)"/>

  <button class="search-icon">
    <lucide-icon class="material-icons" name="search"></lucide-icon>
  </button>

  <div class="search-list">
    <ng-container *ngIf="filteredFollowings.length > 0; else noResults">

      <div class="search-item" *ngFor="let f of filteredFollowings">
        <a (click)="GoToUser(f.user.userId)" class="search-link">
          
          <img 
            class="profile-pic" 
            [src]="f.user.profilePicUrl" 
            alt="Profile Picture"/>

          <div class="user-info">
            <div class="username">
              {{ f.user.firstName }} {{ f.user.lastName }}
            </div>

            <div class="bio">
              {{ f.user.bio }}
            </div>
          </div>

        </a>
      </div>

    </ng-container>

    <ng-template #noResults>
      <div class="no-results">
        No results found for '{{searchTerm}}'
      </div>
    </ng-template>

  </div>
</div>